var config= {};

// The port the application server will listen for connections
config.port=8081;

// The DocuSign OAuth Authentication Service
config.tokenServiceUrl='https://account-d.docusign.com/oauth/token';

// The All-In Signing DocuSign Connector callback URL
config.redirectUri='https://lab-pki.swisscom.com/dsconnector';

// The All-In Signing Service URL
config.aisUrl='https://ais.swisscom.com/AIS-Server/rs/v1.0';

// The All-In Signing account configuration
config.claimedIdentity='<your customer name>:<your key entity>';

// The SSL configuration for securing the communication with All-In Signing (in .pem format)
config.key='config/ssl/mykey.key';
config.cert='config/ssl/mycert.pem';
config.ca='config/ssl/ca.pem';

// The Declaration of Will text to be displayed
// The configured text will be followed by the document name and a question mark '?'
config.dtbd='Do you want to sign'

// CN Prefix (Optional) - it will precede the user name in the CN
config.cnPrefix='TEST'

// DN Suffix (at least Country and Organization are mandatory)
config.dnSuffix='o=My Organization, c=My Country, ou=My Organizational Unit';

// The user language (en, de, fr, it supported)
config.language='en'

module.exports=config;

